.form-group .row {
    margin-right:0;
    margin-left: 0;
}

.row::after{
		content:"";
		clear:both;
		display:table;
	}

.row--t-padding{
		padding-top:80px;
	}

.row--gutters {
		margin-right:-65px;
	}

.row--gutters-large{
		margin-right: -100px;
	}

.row--gutters-small{
		margin-right: -45px;
	}

.row--gutters-small > div{
		padding-right: 45px;
	}

.row--gutters > div {
		padding-right: 65px;
	}

.row--gutters-large > div {
		padding-right: 100px;
	}

.row__b-margin{
		margin-bottom: 1rem;
	}

.row__b-margin-until-medium{
		margin-bottom: 1rem;
	}

@media(min-width: 800px){

		.row__b-margin-until-medium{
			margin-bottom: 0;
		}

		.row__medium-3{
			float: left;
			width: 25%;
		}

		.row__medium-4{
			float:left;
			width: 33.33%;
		}

		.row__medium-4--larger{
			width: 37%;
		}

		.row__medium-6 {
			float: left;
			width: 50%;
		}

		.row__medium-8{
			float: left;
			width: 66.66%;
		}

		.row__medium-8--smaller{
			width: 63%;
		}
	}

@media(min-width: 1010px){

		.row__b-margin-until-large{
			margin-bottom: 0;
		}

		.row__large-4{
			float:left;
			width: 33.33%;
		}

		.row__large-4--larger{
			width: 37%;
		}

		.row__large-6 {
			float: left;
			width: 50%;
		}

		.row__large-8{
			float: left;
			width: 66.66%;
		}

		.row__large-8--smaller{
			width: 63%;
		}
	}

/*/* Begin Equal Height Rules */

@media(min-width: 800px){

.flexbox .row--equal-height-at-medium{
			display: flex
	}
	}

.flexbox .row--equal-height-at-medium > div {
			float: none;
			display: flex;
		}

@media(min-width: 1010px){

.flexbox .row--equal-height-at-large{
			display: flex
	}
	}

.flexbox .row--equal-height-at-large > div {
			float: none;
			display: flex;
		}

.generic-content-container p {
		font-weight: 300;
		line-height: 1.65;
		margin: 0 0 1.8rem 0;
	}

@media(min-width: 530px){

.generic-content-container p {
		font-size:1.125rem
	}
	}

.generic-content-container p a{
		font-weight: 700;

	}
